header:before {
  display: inline-block;
  content: '';
  width: 110px;
  height: 110px;
  background: url("../images/jscausecat.svg") no-repeat;
  background-color: white; }

body {
  font-family: verdana, arial, sans-serif; }

.maincontainer {
  margin: auto;
  width: 80%;
  min-width: 300px; }

.topmenu ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style-type: none; }
  .topmenu ul li {
    margin: 0.25em;
    white-space: nowrap;
    font-weight: bold; }
    .topmenu ul li a {
      font-weight: normal; }
